/code_from_other_papers/
/exploration/
/reporting/
/results/
/trained_models/
/trained_models/KG_only/graphvite_pretrained_W5M/transe_wikidata5m.pkl
/troubleshooting/

/data/raw/
/data/interim/

/.idea/
/.run/
/.owncloudsync.log
*__pycache__*
*.sync_*
*.pyc
*.nt.gz
*.pt
*.pkl
*.bin


