/.idea/
/results/

/src/data_preprocessing/wikidata5m_human_facts_subset_complete_050122.tsv
/exploration/data/MNIST/raw/train-images-idx3-ubyte
/src/CLI_scripts/__pycache__/experiments_KG_only.cpython-39.pyc
*.cpython-39.pyc
/.owncloudsync.log
*.sync_*
*.pyc
/trained_models/KG_only/graphvite_pretrained_W5M/transe_wikidata5m.pkl
